/*-------------VARIABLES--------------*/
:root {
  --color-primario: #d11710;
  --color-primario_oscuro: #690000;
  --color-secundario: #10cad1;
  --color-secundario_oscuro: #006169;
  --bg-color_a: #191919;
  --bg-color_b: #101010;
  --color-fuente_gris: #8e8e8e;
  --color-fuente_oscuro: #101010;
  --color-fuente_claro: #fbfbfb;
  --blanco: #ffffff;
  --negro: #000000;
  --fuente-principal: "Poppins", sans-serif;
  --fuente-titulo: "Josefin Sans", sans-serif;
  --fuente-subtitulo: "Rubik", sans-serif;
  --sombra: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

/*-------------COMPONENTES------------*/
.btn {
  background-color: var(--color-primario);
  font-weight: 600;
  text-align: center;
  padding: 1rem 1.2rem;
  cursor: pointer;
}

.btn--secondary {
  background-color: transparent;
  border: 0.2rem solid var(--color-primario);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-title {
  padding: 0.7rem 0;
  font-family: var(--fuente-subtitulo);
  font-size: 6.4vw;
  font-weight: 500;
}

/*----------AJUSTES GENERALES----------*/
html {
  font-family: var(--fuente-principal);
  font-size: 10px;
}

body {
  background-color: var(--bg-color_b);
  color: var(--color-fuente_claro);
}

p {
  line-height: 1.6;
}

span {
  color: var(--color-primario);
  font-size: inherit;
}

/*---------------INICIO---------------*/
/*------MOBILE FIRST---------*/

.home {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/Banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(105, 0, 0, 1) 0%,
    rgba(0, 97, 105, 1) 100%
  );
  opacity: 0.3;
  z-index: -1;
}

.hero {
  min-width: 90%;
  margin: 0 3rem;
}

.hero__title {
  font-size: 14vw;
  font-family: var(--fuente-titulo);
  font-weight: 700;
  padding-left: 2rem;
  margin-top: 0.7rem;
}

.hero__post-title {
  padding-left: 4rem;
  color: var(--color-secundario);
}

.hero__post-title::after,
.hero__post-title::before {
  color: var(--color-primario);
  font-weight: 500;
}
.hero__post-title::after {
  content: " />";
}
.hero__post-title::before {
  content: "< ";
}

.hero__buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.hero__buttons a {
  font-size: 1.5rem;
}

/*------MENU-------*/
.nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 96, 105, 0.5);
}

.nav__container {
  height: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.nav__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: var(--bg-color_a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.nav__menu a {
  font-size: 3rem;
}

.nav__logo {
  width: 30rem;
}

.nav__menu-btn {
  width: 6rem;
  height: 4.5rem;
  color: var(--color-fuente_claro);
  background-color: var(--color-primario);
  margin: 1rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.nav__menu-btn i {
  font-size: 3rem;
}

/*-----HOVER-----*/
/*---------------*/

/*---------ABOUT-----------*/
.about-me {
  padding: 3rem 0;
  flex-direction: column;
}

/*---------MODIFICADORES-----------*/

.show-menu {
  width: 100%;
}

.none {
  display: none !important;
}

/*----------MEDIA QUERIES-----------*/

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  /*-----COMPONENTS------*/
  .sub-title {
    font-size: 3.5vw;
  }

  /*-----HEADER------*/
  .hero {
    min-width: 60%;
  }
  .hero__title {
    font-size: 9vw;
  }

  /*-----MENU-----*/
  .nav {
    height: 6rem;
  }
  .nav__menu {
    position: relative;
    width: auto;
    height: 100%;
    background-color: transparent;
    flex-direction: row;
    justify-content: end;
    gap: 0;
  }
  .nav__menu a {
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    height: 100%;
    transition: all 0.3s ease-in;
  }
  .nav__menu a:hover {
    background-color: var(--color-primario);
  }
  .nav__menu-btn {
    display: none;
  }
}
