/*-------------VARIABLES--------------*/
:root {
  --color-primario: #d11710;
  --color-secundario: #10cad1;
  --bg-color_a: #191919;
  --bg-color_b: #101010;
  --color-gris_rgba: rgba(142, 142, 142, 0.5);
  --color-fuente_gris: #a7a7a7;
  --color-fuente_oscuro: #101010;
  --color-fuente_claro: #fbfbfb;
  --blanco: #ffffff;
  --negro: #000000;
  --color-bg_overlay: linear-gradient(
    130deg,
    rgba(105, 0, 0, 0.5) 0%,
    rgba(0, 97, 105, 0.5) 100%
  );
  --fuente-principal: "Poppins", sans-serif;
  --fuente-titulo: "Josefin Sans", sans-serif;
  --fuente-subtitulo: "Rubik", sans-serif;
  --sombra: 4px 4px 16px rgba(0, 0, 0, 0.25);
  --brillo: 0 0 15px 1px rgba(16, 203, 209, 0.5);
}

/*-------------COMPONENTES------------*/
/*-------AUXILIAR--------*/
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 170rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 14vw;
  font-family: var(--fuente-titulo);
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem 0;
  text-shadow: var(--sombra), var(--sombra);
}

.sub-title {
  padding: 0.7rem 0;
  font-family: var(--fuente-subtitulo);
  font-size: 6.4vw;
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: var(--sombra), var(--sombra);
}

.section-title {
  transform: scale(1.5);
  opacity: 0;
  transition: all 0.7s ease-in;
}

/*------BUTTONS-------*/
.btn {
  position: relative;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  border: 0.2rem solid var(--color-primario);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primario);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.5s ease-out;
  z-index: -1;
}

.btn--secondary {
  position: relative;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  cursor: pointer;
  border: 0.2rem solid var(--color-primario);
  overflow: hidden;
  transition: all 0.2s ease;
}

.btn--secondary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primario);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: all 0.5s ease-out;
  z-index: -1;
}

.btn:hover.btn::before {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  width: 0;
  transform: scale(1.1);
}

.btn--secondary:hover::before {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  transform: scale(1.1);
}

.btn-toTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  color: var(--color-fuente_claro);
  background-color: var(--color-secundario);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-toTop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-secundario);
  border-radius: 50%;
  animation: pulse 2s infinite ease-in;
}

.btn-toTop button {
  width: 60%;
}

.btn-toTop:hover {
  transform: scale(1.1);
}

.btn-toTop:active {
  transform: scale(0.9);
}

/*-------MODAL--------*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-out;
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: 40vw;
  min-height: 16rem;
  width: 95%;
  max-width: 80rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-fuente_claro);
  border-radius: 3rem;
  box-shadow: var(--sombra);
}

/*-------REDES-------*/
.social-links {
  margin: 2rem 0 0;
  display: flex;
  gap: 1.5rem;
}
.social-links a {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primario);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a:hover {
  transform: scale(1.3);
}
.social-links i {
  font-size: 2rem;
}

/*----------CARDS---------*/
.card-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem 1rem;
}
.card {
  min-height: 20vw;
  max-width: 15rem;
  flex-grow: 1;
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--bg-color_b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.card__img {
  height: 10rem;
  display: flex;
  align-items: center;
}
.card__img img {
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: translateY(2rem);
  /* animation: bounce 1s ease-out; */
}

/*----------SCROLLBAR---------*/
body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-bg_overlay);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--color-primario));
  border-radius: 0.7rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--color-secundario));
}

/*----------AJUSTES GENERALES----------*/
html {
  font-family: var(--fuente-principal);
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color_b);
  color: var(--color-fuente_claro);
}

p {
  line-height: 1.6;
  color: var(--color-fuente_gris);
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
}

span {
  color: var(--color-primario);
  font-size: inherit;
}

/*---------------INICIO---------------*/
/*------MOBILE FIRST---------*/

.home {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/Banner.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hero {
  min-width: 90%;
  margin: 0 3rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.hero__title {
  padding: 0 0 0 2rem;
  margin-top: 1.3rem;
}

.hero__pre-title {
  font-size: 6vw;
  width: max-content;
  min-height: 4rem;
  border-right: 0.5rem solid var(--color-primario);
  overflow: hidden;
  transition: all 0.4s ease;
  animation: blink 0.7s infinite;
}

.hero__post-title {
  position: relative;
  display: inline-block;
  padding-left: 4rem;
  color: var(--color-secundario);
}

.hero__post-title::after,
.hero__post-title::before {
  position: absolute;
  color: var(--color-primario);
  animation: pulse 2s ease-out infinite;
}
.hero__post-title::after {
  content: " />";
  right: 0;
}
.hero__post-title::before {
  content: "< ";
}

.hero__buttons {
  display: flex;
  gap: 1.3rem;
  margin: 1rem;
}

.hero__buttons a {
  font-size: 1.47rem;
}

/*------MENU-------*/
.nav {
  width: 100%;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-color: var(--color-primario);
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1s ease-out;
  z-index: 1;
}

.nav__menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--bg-color_a);
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.nav__menu a {
  font-size: 10vw;
  font-family: var(--fuente-subtitulo);
  font-weight: 500;
  text-shadow: 0 0 10px var(--bg-color_a), 0 0 10px var(--bg-color_a);
  z-index: 1;
}

.links-hover {
  position: absolute;
  font-family: var(--fuente-titulo);
  font-size: 15vw;
  font-weight: 700;
  color: rgba(16, 203, 209, 0.75);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.nav__logo {
  max-width: 65vw;
  transition: transform 0.3s ease-in;
}

.nav__logo:hover {
  transform: scale(1.1);
}

.nav__menu-btn {
  width: 5rem;
  height: 4.5rem;
  color: var(--color-fuente_claro);
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
}

.nav__menu-btn svg {
  width: 75%;
  height: 100%;
}

/*---------ABOUT-----------*/
.about-me {
  padding: 5rem 0;
  min-height: 100vh;
}

.about-me__img {
  position: relative;
  min-height: 30rem;
  max-width: 60rem;
}

.about-me__img::before,
.about-me__img::after {
  content: "";
  position: absolute;
  animation: scale 3s ease infinite alternate;
}

.about-me__img::before {
  top: 0;
  left: 0;
  border-top: 8px solid var(--color-primario);
  border-left: 8px solid var(--color-primario);
}
.about-me__img::after {
  bottom: 0;
  right: 0;
  border-bottom: 8px solid var(--color-primario);
  border-right: 8px solid var(--color-primario);
}

.about-me__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 8px solid var(--bg-color_b);
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__content a {
  font-size: 1.3rem;
}

.about-me .sub-title {
  padding-bottom: 0;
}

.about-me h4 {
  font-size: 1.5rem;
  color: var(--color-secundario);
}

.about-me p {
  margin: 1rem 0;
}

/*---------SKILLS-----------*/
.skills {
  width: 100%;
  padding: 5rem 0;
  background-color: var(--bg-color_a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills .title {
  margin-bottom: 2rem;
}

.skills__cards .sub-title {
  font-size: 5.5vw;
  white-space: nowrap;
}

/*---------PORTFOLIO-----------*/
.portfolio {
  width: 100%;
  padding: 5rem 0;
  gap: 2rem;
}

.portfolio__container {
  width: 100%;
  display: grid;
  gap: 3rem;
}

.portfolio__card {
  position: relative;
  max-height: 50rem;
  max-width: 80rem;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  transition: transform 1.5s ease-out, opacity 2s ease;
}

.portfolio__card img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.portfolio__card-info {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: var(--color-bg_overlay);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.portfolio__card:hover .portfolio__card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio__card-info p {
  color: var(--color-fuente_claro);
  font-size: 1rem;
  padding: 0 0.5rem;
  overflow-y: scroll;
}

.portfolio__card-buttons {
  display: flex;
  gap: 1.3rem;
}
.portfolio__card-buttons a {
  font-size: 1.4rem;
}

/*-----PORTFOLIO MODAL-SLIDER------*/
.portfolio__modal-content {
  position: relative;
  max-width: 95rem;
  height: 55rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.portfolio__modal-content :is(.modal__buttons, .modal__close) {
  position: absolute;
}

.portfolio__modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modal__buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__buttons svg,
.modal__close svg {
  width: 5rem;
  height: 5rem;
  margin: 0 2rem;
  text-align: center;
  background-color: var(--color-gris_rgba);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--sombra), var(--sombra);
}

.modal__close {
  color: var(--color-primario);
  top: 2rem;
  right: 0;
}

/*----------CONTACT-----------*/
.contact {
  position: relative;
  margin: 3rem 0;
  min-height: 95vh;
  width: 100%;
  background-image: url(../img/Contact.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__container {
  width: 90%;
  max-width: 80rem;
  margin: 3rem 0;
  background-color: var(--bg-color_a);
  border-radius: 1rem;
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.5);
}

.contact__form {
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form > * {
  width: 100%;
  padding: 0.8rem;
  outline: none;
}

.contact__form input {
  border-bottom: 1px solid var(--color-primario);
}

.contact__form textarea {
  min-height: 15rem;
  resize: none;
  border-bottom: 1px solid var(--color-primario);
}

.btn-submit {
  background-color: var(--color-primario);
  font-weight: 600;
  text-align: center;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-submit:hover {
  transform: scale(1.1);
}

.btn-submit:active {
  transform: scale(0.9);
}

.contact__form > *::placeholder {
  color: var(--color-secundario);
}

.contact__modal h3 {
  width: 100%;
  font-family: var(--fuente-principal);
  font-weight: 600;
  font-size: 4.7vw;
  color: var(--color-fuente_gris);
}

.contact__modal svg {
  width: 15vw;
  color: var(--color-primario);
}

/*----------FOOTER----------*/
.footer {
  padding: 2rem 0 0;
  text-align: center;
}

.footer img {
  max-width: 10rem;
  margin: 0 auto 3.5rem;
}

.footer h4 {
  font-family: var(--fuente-titulo);
  font-size: 3rem;
  font-weight: 700;
}

.footer p {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.copyright {
  color: var(--color-primario);
  font-family: var(--fuente-subtitulo);
  font-weight: 500;
  margin-top: 2rem;
}

/*---------MODIFICADORES-----------*/
.show-modal,
.show-btn {
  opacity: 1;
  pointer-events: auto;
}

.show-menu {
  right: 0;
}

.hidden {
  display: none;
}

.slide-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right {
  transform: translateX(100%);
  opacity: 0;
}

.zoom-in {
  transform: scale(1);
  opacity: 1;
}

.fade-down {
  transform: translateY(0);
  opacity: 1;
}

/*----------KEYFRAMES-----------*/
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3rem);
  }
  75% {
    transform: translateY(-2rem);
  }
  95% {
    transform: translateY(-1rem);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scale {
  0% {
    width: 10%;
    height: 10%;
  }
  100% {
    width: 80%;
    height: 80%;
  }
}
